.character-portrait-container {
    position: fixed;
    bottom: -4rem;
    z-index: 10;
    height: 100vh;
    left: -4rem;
    display: flex;
    align-items: flex-end;
  }
  
  .flipped {
    transform: scaleX(-1);
  }

  .character-portrait-container.right {
    right: -4rem;
    left: auto;
  }
  
  .character-portrait-container.left {
    left: 0;
    right: auto;
  }
  
  .character-portrait-image {
    width: 25rem;
    height: 25rem;
    object-fit: contain;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
  }
  
  .character-portrait-image.dimmed {
    opacity: 0.8;
  }
  