.character-portrait-container {
    position: fixed;
    bottom: 0;
    top: 65%;
    transform: translateY(0);
    z-index: 10;
    pointer-events: none;
  }
  
  .flipped {
    transform: scaleX(-1);
  }

  .character-portrait-container.right {
    right: 2rem;
    transform: translateX(0);
  }
  
  .character-portrait-container.left {
    left: 2rem;
    transform: translateX(0);
  }
  
  .character-portrait-image {
    width: 400px;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease;
  }
  
  .character-portrait-image:hover {
    transform: scaleX(0);
  }
  
  .character-portrait-image.dimmed {
    opacity: 0.8;
  }
  